<section class="login">
  <form class="login_form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Connexion</h2>
    <div class="login_form-container">
      <input type="text" placeholder="Username" class="input" formControlName="username" />
      <input type="password" placeholder="Password" class="input" formControlName="password" />
    </div>
    <button class="btn">Se connecter</button>
  </form>
  <p class="message">Pas encore parmi nous ? <a routerLink="/register" class="login_register-link">Créer toi un compte !</a></p>
</section>
