<section class="categories">
  <h1 class="title">Les catégories</h1>

  <div class="form">
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="login_form-container">
        <input
          type="text"
          placeholder="Rechercher une catégorie"
          class="input"
          formControlName="search"
        />
      </div>
    </form>
    <button type="submit" class="btn">Recherche</button>
    <button (click)="reset()" class="btn">Annuler</button>
  </div>

  <ul class="list">
    <li *ngFor="let category of filteredCategories; let i = index" >
      <span>{{ category?.name }}</span>
    </li>
  </ul>
</section>
